#accordion {
    width: 27%;
    position: absolute;
    left: 0;
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 0;
}

#tab_content {
    margin-left: 27%;
    padding-left: 1%;
}

fieldset.tab {
    height: 95%;
}
