{% extends 'tabs/tab_template.html' %}
{% block tab_title %}<b>Adicionar usuário</b>{% endblock %}
{% block tab_content %}
<div id="tab_container">
    <form action="add_user" method="post" class="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <label for="user_name">Login:</label>
        <div class="div_textbox">
            <input name="user_name" type="text" class="textinput" id="user_name" />
        </div>
        <br class="clear">
        <label for="given_name">Nome completo:</label>
        <div class="div_textbox">
            <input name="given_name" type="text" class="textinput" id="given_name" />
        </div>
        <br class="clear">
        <label for="user_cpf">CPF:</label>
        <div class="div_textbox">
            <input name="user_cpf" type="text" class="textinput" id="user_cpf" maxlength="14" />
        </div>
        <br class="clear">
        <label for="user_password">Senha:</label>
        <div class="div_textbox">
            <input name="user_password" type="password" class="textinput" id="user_password" />
        </div>
        <br class="clear">
        <label for="user_ou">Unidade organizacional:</label>
        <div class="div_textbox">
            <select name="user_ou" id="user_ou">
                {% for ou in ou_list %}
                    <option value="{{ ou[0] }}">
                        {{ ou[1].upper() }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <br class="clear">
        <input type="submit" value="enviar" class="button" />
    </form>
</div>
{% endblock %}
