<div id="accordion">
    <h3>
        <a href="#" class="accordion_link" name="add_user">
            Adicionar usuário
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para adicionar um novo usuário
    </div>
    <h3>
        <a href="#" class="accordion_link" name="del_user">
            Deletar usuário
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para deletar uma conta de usuário
    </div>
    <h3>
        <a href="#" class="accordion_link" name="edit_users">
            Editar usuários
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para pesquisar e editar usuários
    </div>
    <h3>
        <a href="#" class="accordion_link" name="add_group">
            Adicionar grupo
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para adicionar um novo grupo de usuários
    </div>
    <h3>
        <a href="#" class="accordion_link" name="del_group">
            Deletar grupo
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para deletar um grupo de usuários
    </div>
    <h3>
        <a href="#" class="accordion_link" name="list_users">
            Listar usuários
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para listar usuários a partir de um determinado critério
    </div>
    <h3>
        <a href="#" class="accordion_link" name="edit_groups">
            Grupos de usuários
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para listar grupos e/ou editar suas descrições
    </div>
    <h3>
        <a href="#" class="accordion_link" name="edit_user_groups">
            Gerenciar grupos de um usuário
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para alterar os grupos de um usuário específico
    </div>
    <h3>
        <a href="#" class="accordion_link" name="reset_password">
            Resetar senha
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para resetar a senha de um usuário específico
    </div>
    <h3>
        <a href="#" class="accordion_link" name="view_shares">
            Visualizar compartilhamentos
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para visualizar os compartilhamentos e suas permissões
    </div>
    <h3>
        <a href="#" class="accordion_link" name="view_audit">
            Visualizar acessos indevidos
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para visualizar informações sobre tentativas de acessos indevidos a compartilhamentos
    </div>
    <h3>
        <a href="#" class="accordion_link" name="edit_forbidden_words">
            Cadastrar palavras proibidas
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para cadastrar palavras que não podem ser utilizadas em senhas
    </div>
    <h3>
        <a href="#" class="accordion_link" name="manage_permissions">
            Gerenciar permissões
        </a>
    </h3>
    <div class='accordion_content'>
        Use essa opção para editar o nível de acesso dos usuários do gerenciador de usuários
    </div>
</div>
