<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="http://dex/admuser/"/> <!-- TODO: isso nao precisa ser hardcoded -->

    <script type="text/javascript" src="media/js/jquery.min.js"></script>
    <script type="text/javascript" src="media/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="media/js/layout.js"></script>
    {% block js %}{% endblock %}

	<link rel="stylesheet" type="text/css" href="media/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="media/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="media/css/style.css" />
    {% block css %}{% endblock %}

	<title>Gerenciador de usuários</title>
</head>
    <body>
        <div id='main_container'>
            <div id='main_header'>
                <h3>Gerenciador de usuários</h3>
            </div>
            <hr/>
            <div id='main_view'>
                {% include 'accordion.html' %}
                <div id='tab_content'>
                    <h3>
                        Selecione a opção desejada ao lado
                    </h3>
                    <!-- feeded by ajax -->
                </div>
            </div>
            <hr/>
            <div id='footer'>
                <img src="media/img/djangopowered.gif" alt="Powered by Django" />
            </div>
            {% if debug %}
                <div id='debug'>
                    {{ debug }}
                </div>
            {% endif %}
        </div>
    </body>
</html>
