<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="admuser/media/js/jquery.min.js"/></script>
	<script type="text/javascript" src="admuser/media/js/jquery-ui.min.js"/></script>
	<script type="text/javascript" src="admuser/media/js/layout.js"/></script>
	{% block js %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="admuser/media/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="admuser/media/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="admuser/media/css/style.css" />
    {% block css %}{% endblock %}

    <base href="http://dex/admuser/"/> <!-- TODO: isso nao deve ser hardcoded -->

	<title>Gerenciador de usuários</title>
</head>
    <body>
        <div id='main_container'>
            <div id='main_header'>
                <h3>Gerenciador de usuários</h3>
            </div>
            <hr/>
            <div id='main_view'>
                {% include 'accordion.html' %}
                <div id='actions'>
                    ACTIONS <!-- feeded by ajax -->
                </div>
            </div>
            <hr/>
            <div id='footer'>
                <img src="admuser/media/img/djangopowered.gif" alt="Powered by Django" />
            </div>
            <div id='debug'>
                {{ debug }}
            </div>
        </div>
    </body>
</html>
