<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="pt-br" />
	<script type="text/javascript" src="admuser/media/js/jquery.min.js"/></script>
	<script type="text/javascript" src="admuser/media/js/jquery-ui.min.js"/></script>
	<script type="text/javascript" src="admuser/media/js/layout.js"/></script>
	{% block js %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="admuser/media/css/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="admuser/media/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="admuser/media/css/style.css" />
	{% block css %}{% endblock %}
	<title>Gerenciador de usuários</title>
</head>
    <body>
        <div id='main_container'>
            <div id='main_header'>
                <h3>Gerenciador de usuários</h3>
            </div>
            <hr/>
            <div id='main_view'>
                {% include 'accordion.html' %}
                <div id='actions' style="height: 650px">
                    ACTIONS <!-- feeded by ajax -->
                </div>
            </div>
            <hr/>
            <div id='footer'>
                <img src="admuser/media/img/djangopowered.gif" alt="Powered by Django" />
            </div>
        </div>
    </body>
</html>
